<!DOCTYPE html>
<html>
<head>
	<title>Save Domain Privacy: Respect our privacy. Don't expose WHOIS data.</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=848">
    <% if notice == 'email' %>
    <meta http-equiv="refresh" content="0; url=mailto:comments-ppsai-initial-05may15@icann.org?cc=policy-staff@icann.org&subject=iCANN%20-%20Respect%20Our%20Privacy&body=Dear%20ICANN%20%E2%80%93%0D%0A%0D%0ARegarding%20the%20proposed%20rules%20governing%20companies%20that%20provide%20WHOIS%20privacy%20services%20%28as%20set%20forth%20in%20the%20Privacy%20and%20Policy%20Services%20Accreditation%20Issues%20Policy%20document%29%3A%0D%0A%0D%0AI%20urge%20you%20to%20respect%20internet%20users%27%20rights%20to%20privacy%20and%20due%20process.%20%0D%0A-%20Everyone%20deserves%20the%20right%20to%20privacy.%0D%0A-%20No%20one%E2%80%99s%20personal%20information%20should%20be%20revealed%20without%20a%20court%20order%2C%20regardless%20of%20whether%20the%20request%20comes%20from%20a%20private%20individual%20or%20law%20enforcement%20agency.%20%0D%0A%0D%0APrivate%20information%20should%20be%20kept%20private.%20Thank%20you.">
    <% end %>
	<%= favicon_link_tag %>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-69192-29', 'auto');
	  ga('send', 'pageview');
	</script>
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=186836398031780";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	<%= yield %>
</body>
</html>